body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 800px;
    box-sizing: border-box;
    overflow-x: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

#resultContainer {
    margin-top: 20px;
}

#resultTable {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 14px;
}

#resultTable th, #resultTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#resultTable th {
    background-color: #4caf50;
    color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Additional responsive styles for smaller devices */
@media (max-width: 480px) {
    input, select, button {
        font-size: 14px;
    }

    #resultTable th, #resultTable td {
        padding: 6px;
    }

    #resultContainer {
        margin-top: 10px; /* Adjusted margin for smaller devices */
        overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
    }

    #resultTable {
        font-size: 12px; /* Reduced font size for smaller devices */
    }
}
